
html,body{
    height: 100%;
}
.container{
    height: 100%;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
.fixed{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #eeeeee;
    background-position: center center;
    text-align: center;
    display: table;
}
/* .fixed h2{
    vertical-align: middle;
    display: table-cell;
} */
.scroll{
    background-color: white;
    color: black;
    padding: 10px 70px;
    height: 100%;
}
.one{
    background-image: url("images/bg.jpg");
}
